@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This template uses ASP.NET Core Razor Pages Framework.</h3>
    <p>Also It uses the default bootstrap framework for UI. </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" rel="noreferrer">building Web apps with ASP.NET Core</a>.</p>


    <h4>The template is created using ASP.NET Core Razor pages web template with individual user authentication</h4>
</div>

<section id="horizontal-features">

    <div class="jumbo text-center">
        <h1 class="display-1 mt-5 mb-5">Developing a web site using ASP.NET Core:</h1>
    </div>


    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">It is very easy to deveop websites using .NET Core. </p>
            <p class="card-text">You can download the code from the github link provided.</p>
            <p class="card-text"></p>
        </div>

    </div>
    <div class="card text-center mt-5">
        <div class="card-body">
            <p class="card-text">More tutorials to come ..</p>

        </div>
    </div>
</section>

<div class="card-deck  mt-3 mb-3">
    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">Use System Variables</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                Shows how to use system variables in the Razor pages. The demonstration can be found in the
                <a class="btn btn-primary text-light" asp-area="" asp-page="/About">About</a> page.
            </p>

        </div>
        @*<div class="card-footer text-muted">

            </div>*@
    </div>
    <div class="card text-center">
        <div class="card-header">
            <h2 class="card-title">Font Awesom icons</h2>
        </div>
        <div class="card-body">
            <p class="card-text">Can easily add font-awesome icons.</p>
            <p>
                <span class="btn btn-info">
                    <i class="fas fa-car fa-4x"></i>
                </span>&nbsp;&nbsp;
                <span class="btn btn-danger">
                    <i class="fas fa-laptop fa-4x"></i>
                </span>&nbsp;&nbsp;
                <span class="btn btn-success">
                    <i class="fas fa-birthday-cake fa-4x"></i>
                </span>&nbsp;&nbsp;
                <span class="btn btn-warning">
                    <i class="fas fa-gem fa-4x"></i>
                </span>

            </p>
        </div>
        @*<div class="card-footer text-muted">

            </div>*@
    </div>
</div>

